.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}
.marker {
	font-size: 1.5vh;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}

	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}

	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 75vw;
}

#pac-input:focus {
	border-color: #4d90fe;
}
div[style="transform: translateZ(0px)"]{
	background: yellow;
	left: -24px;
}
[style="transform: translateZ(0px)"] {
	background: yellow;
}

#results {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -10vh;
	height: 36vh;
	width: 17vw;
	padding: 5px;
	z-index: 5;
	border: 1px solid #999;
	background: #fff;
	display: none;
}
#yelp-box {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	right: 50%;
	top: 70%;
	margin-right: -10vw;
	padding: 5px;
	z-index: 5;
	border: 1px solid #999;
	background: #fff;
	display: none;
}
h2 {
	font-size: 4vw;
	margin: 0 0 5px 0;
}
#places {
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 28vh;
	width: 17vw;
	overflow-y: scroll;
	font-size: 2vw;
}
#places > li {
	background-color: #f1f1f1;
	padding: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#places > li:nth-child(odd) {
	background-color: #fcfcfc;
}
#more {
	width: 106%;
	margin: -8px 0 0 -5px;
}
/*
 *yelp api
 */
html, body {width: 100%; height: 100%; font-family: arial;}  
/*body {margin:0;padding 0;overflow: hidden;}*/
#mapContainer {padding-top: 50px;}
#map, #mapContainer {width:100%; height: 100%;}
#top {position:absolute; top:0; left:0; width: 100%; height: 50px; line-height: 50px;}
#spinner { visibility: hidden; margin-left:3px;}
#poweredby, #searchbox {line-height: 50px;}
#searchbox {text-align: center;}
#poweredby { float: right; margin-right: 3px;}
#poweredby img { vertical-align: baseline;}

.marker .businessimage { float: left;}
.businessimage {
  border: 0;
  width: auto;
  height: 100%;
}
.marker .ratingsimage {vertical-align:middle; margin-top:0px;}
.marker .businessinfo { margin-left: 110px;}
#googleMap { height: 100%; margin: 0; padding: 0;}
#message-404{
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	background: #000;
	padding: 20px;
	font-size: 20px;
	color: #fff;
	text-align: center;
}